In [10]:
#Kasowanie kolumnn -podajemy nazwy kolumn jako listę. Alternatywnie podajemy numery kolumn

import pandas as pd
df=pd.DataFrame({
    'name':['Michal','pawel','Michal'],
    'age':[37,40,38]
})


#df.drop(columns=['name','age'],inplace=True)
#df.drop(labels=['age'],axis=1,inplace=True)
#df.drop(columns=df.columns[0:2],inplace=True)
df

Empty DataFrame
Columns: []
Index: [0, 1]

In [22]:
#Kasowanie kolumnn -podajemy numer indeksu jako listę. Możemy zmienić indeks np.na imię i kasować po nazwie imie

import pandas as pd
df=pd.DataFrame({
    'name':['Michal','pawel'],
    'age':[37,40]
})
#df.drop(labels=[1],axis=0,inplace=True)

#albo w skrócie
#df=df.drop(0)


#zmiana indeksu
df=df.set_index('name')
df=df.drop(['Michal'])
df

Empty DataFrame
Columns: []
Index: [(Michal, 37), (pawel, 40)]

In [38]:
import pandas as pd
df=pd.DataFrame({
    'name':['Michal','pawel','Michal'],
    'age':[37,40,38]
})
warunek=(
df.name=="Michal"
)

df = df.drop(df[warunek].index)
df

    name  age
1  pawel   40